* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.head {
    width: 100%;
    min-height: 100vh;
    background: #eceaff;
    color: #525252;
}

nav {
    background: #1a1a1a;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2; 
}

.logo {
    position: absolute;
    left: 50px;
    width: 180px;
}

.user-pic {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

nav .streak {
    width: 100%;
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
}

nav .streak h2{
    color: white;
    padding-top: 6px;
}

/* nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
} */

nav img {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 280px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 10; 
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
}

.user-info img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}

/*-----------------------------------------------------------*/

.row {
    margin: 5%;
    display: flex;
    justify-content: space-between;
}

.features {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.features-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    z-index: 1; 
}

.features-col img {
    width: 100%;
    height: 450px;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(94, 94, 94, 0.7);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #ffffff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1%;
}
