* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
html, body {
  height: 100%;
  width: 100%;
}

body{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url('../images/background3.jpg'); 
}

#graph-div{
  display: flex;
}

#graph{
  margin: auto;
  width: 60%;
  height: 480px;
}