<html>
<head>
    <meta name="viewport" content="with=device-width,initial-scale=1.0">
    <title>Vocablearn</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon3.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
</head> 
<body> 
<section>
    <div class="head">
        <nav>
            <img src="../static/images/logo.png" class="logo">
            <div class="streak">
                <h2 id="streakdays"></h2>
                <img src="../static/images/streak.png">
            </div>

            <img src="../static/images/user.png" class="user-pic" onclick="togglemenu()">

            <div class="sub-menu-wrap" id="submenu">

                <div class="sub-menu">

                    <div class="user-info">
                        <img src="../static/images/user.png">
                        <h3>{{ username }}</h3>
                    </div>

                    <hr>

                    <a class="sub-menu-link" onclick="openProfile()">
                        <img src="../static/images/profile.png">
                        <p>Edit profile</p>
                        <span>></span>
                    </a>
                    <a class="sub-menu-link" onclick="logout()">
                        <img src="../static/images/logout.png">
                        <p>Logout</p>
                        <span>></span>
                    </a>

                </div>
            </div>

        </nav>


        <section class="features">
            
        
            <div class="row">
                <div class="features-col" onclick="openLearn()">
                    <img src="../static/images/h1.png" >
                    <a class="layer">
                        <h3>Learn</h3>
                    </a>
                </div>

                <div class="features-col" onclick="openReview()">
                    <img src="../static/images/h2.png" >
                    <a class="layer">
                        <h3>Review</h3>
                    </a>
                </div>

                <div class="features-col" onclick="openStats()">
                    <img src="../static/images/h3.png" >
                    <a class="layer">
                        <h3>Your Scores</h3>
                    </a>
                </div>
            </div>
        </section>

    </div>

 <!------------------------------------------------------------------------------------------------------------->


 <script src="{{ url_for('static', filename='scripts/homepage.js') }}"></script>
    
</body>
</html>
