<html>
  <head>
    <meta name="viewport" content="with=device-width,initial-scale=1.0">
    <title>Vocablearn</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon3.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learn.css') }}">
</head>
<body>

<section class="header">
  <div class="card-container">
    <div class="card" id="flipCard" onclick="flip()">
      <div class="card-face card-front" id="word">
        Dictionary
      </div>
      <div class="card-face card-back" id="meaning">
        A dictionary is a listing of lexemes from the lexicon of one or more specific languages, often arranged alphabetically,
         which may include information on definitions, usage, etymologies, pronunciations, translation, etc.
      </div>
    </div>

    <!-- Buttons placed outside the card -->
    <div class="button-container" id="buttonContainer">
      <button class="btn know-btn" onclick="handleAnswer(1)">I know this word</button>
      <button class="btn dont-know-btn" onclick="handleAnswer(0)">I don't know this word</button>
      <!-- <button class="btn dont-know-btn" onclick="checkStreak()">Check Streak</button> -->
    </div>
  </div>
</section>

<script src="{{ url_for('static', filename='scripts/learn.js') }}"></script>

</body>
</html>